.panel {
    height: 100vh;
    display: inline-block;
    position: fixed;
    width: 17%;
}

.uldashboard {
    list-style: none;
    width: 100%;
    position: relative;
    margin-top: 7vh;
}

.lidashboard {
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    border-top: 1px solid white;
    /*border-bottom: 1px solid white;*/
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    position: relative;
}
.lidashboard>a{
    text-decoration: none;
    color: #0cb9ff;
    transition: 0.5s;
}
.lidashboard>a:hover{
    color: #ffffff;
}
.lidashboard:nth-child(1){
    border-top: 0;
}
.card{
    height: 60vh;
    width: 60vw;
    background: #0d6efd;
}
.ulmenuC{
    list-style: none;
    width: 100%;
    text-align: center;
    height: 100%;
    margin-top: 2vh;
}
.limenu{
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    width: 100%;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px black, 0 0 20px black , 0 0 30px #000000;
}
.limenuI{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px black, 0 0 20px black , 0 0 30px #000000;
}
.inputmenu{
    background: rgba(0, 0, 0, 0.42);
    border: 0;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -5px 5px 20px 10px rgba(0, 0, 0, 0.43);
}
.label__P{
    font-weight: bold;
    font-size:large ;
    margin-top: 2vh;
}
.INPPOST{
    border: 0;
    border-radius: 10px;
    font-size: 1vw;
    padding: 10px;
    color: #4a4a4a;
    outline: none !important;
    border-bottom: 2px solid blue;
}
.selecttion{
    font-size: 1vw;
    border: 0;
    border-radius: 10px;
    border-bottom: 2px solid blue;
}
select:focus {
    border-color: blue !important;
    outline: 0 !important;
    box-shadow: none !important;
}
