.imgtop{
    height: 80vh;
    z-index: -1;
    position: relative;
}
.POST{
    width: 100%;
    height: auto;
    z-index: 50;
    margin-top: -30vh;
    display: flex;
    justify-content: center;
}
.titleH1{
    position: absolute;
    width: 100%;
    color: white;
    text-shadow: 0 0 10px #fffbfd,0 0 15px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.textdiv{
    width: 70vw;
    padding: 50px;
    border-radius: 40px;
    font-size: 1vw;
    line-height: 6vh;
    border: 4px solid white;
    box-shadow: 0 0 25px 7px #ddc8c8;
    transition: all 1s;
    text-align: justify;
    direction: rtl;
}
.textdiv:hover{
    box-shadow: 0 0 35px 12px black;
}
.imgcomment{
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
}
@media only screen and (max-width: 1000px) {
    .textdiv{
        font-size: 4vw;
    box-shadow: none;
        border : 0;
        width: 100vw;
        line-height: 3;
    }
}